@model CategoryListDto

@{
    ViewBag.Title = "Kategoriler Index";
}

@if (Model.ResultStatus == ResultStatus.Success)
{
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="categoriesTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Kategori Adı</th>
                            <th>Kategori Açıklaması</th>
                            <th>Aktif mi</th>
                            <th>Silinmiş mi</th>
                            <th>Not</th>
                            <th>Oluşturulma Tarihi</th>
                            <th>Oluşturulan Kullanıcı</th>
                            <th>Son Düzenlenme Tarihi</th>
                            <th>Son Düzenleyen Kullanıcı</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var categoryItem in Model.Categories)
                        {
                            <tr>
                                <td>@categoryItem.Id</td>
                                <td>@categoryItem.Name</td>
                                <td>@categoryItem.Description</td>
                                <td>@categoryItem.IsActive</td>
                                <td>@categoryItem.IsDeleted</td>
                                <td>@categoryItem.Note</td>
                                <td>@categoryItem.CreatedDate.ToShortDateString()</td>
                                <td>@categoryItem.CreaterName</td>
                                <td>@categoryItem.ModifiedDate</td>
                                <td>@categoryItem.ModifierName</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@section Scripts
{
    <script>

        $(document).ready(() => {
            $('#categoriesTable').DataTable();
        });
    </script>
}