@model ArticleListDto

@{
    ViewBag.Title = "Makaleler";
}
<ol class="breadcrumb mb-2 mt-2">
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Article" asp-action="Index">Admin</a></li>
    <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Article" asp-action="Index">Makaleler</a></li>
</ol>

@if (Model.ResultStatus == ResultStatus.Success)
{
    <div id="modalPlaceHolder" aria-hidden="true"></div> //form modal


    <div class="card mt-3 mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Makaleler
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div style="display:none" class="spinner-border m-2" role="status">
                    <span class="sr-only">Yükleniyor...</span>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="articlesTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Kategori</th>
                            <th>Başlık</th>
                            <th>Küçük Resim</th>
                            <th>Tarih</th>
                            <th>Okunma Sayısı</th>
                            <th>Yorum Sayısı</th>
                            <th>Aktif mi?</th>
                            <th>Oluşturulma Tarihi</th>
                            <th>Oluşturan Kullanıcı</th>
                            <th>Son Düzenlenme Tarihi</th>
                            <th>Son Düzenleyen Kullanıcı</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var articleItem in Model.Articles)
                        {
                            <tr name="@articleItem.Id">
                                <td>@articleItem.Id</td>
                                <td>@articleItem.Category.Name</td>
                                <td>@articleItem.Title</td>
                                <td>
                                    <img width="100" src="~/img/@articleItem.Thumbnail" alt="@articleItem.Thumbnail" />
                                </td>
                                <td>@articleItem.Date</td>
                                <td>@articleItem.ViewsCount</td>
                                <td>@articleItem.CommentCount</td>
                                <td>
                                    @if (articleItem.IsActive)
                                    {
                                        <i style="color:#5cb85c" class="fas fa-check"></i>
                                    }
                                    else
                                    {
                                        <i style="color:#d9534f" class="fas fa-times"></i>
                                    }
                                </td>
                                <td>@articleItem.CreatedDate.ToShortDateString()</td>
                                <td>@articleItem.CreaterName</td>
                                <td>@articleItem.ModifiedDate</td>
                                <td>@articleItem.ModifierName</td>
                                <td style="padding:3px">
                                    <a id="btnEdit" data-id="@articleItem.Id" class="btn btn-primary btn-block btn-sm" asp-area="Admin" asp-controller="Article" asp-action="Update" asp-route-articleId="@articleItem.Id"><i class="fas fa-edit"></i> Düzenle</a>
                                    <button id="btnDelete" class="btn btn-danger btn-block btn-sm" data-id="@articleItem.Id"><i class="fas fa-minus-circle"></i> Sil</button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@if (Model.ResultStatus == ResultStatus.Error)
{
    <div class="alert alert-danger mt-4">
        @Model.Message
        <br />
        Dashboard'a dönmek için <a class="alert-link" asp-area="Admin" asp-controller="Home" asp-action="Index">tıklayınız</a>
    </div>

}




@section Scripts
{
    <script src="~/AdminLTE/js/articleIndex.js" type="application/ecmascript"></script>
}